.additional {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  text-decoration: none;
  border-bottom: 1px solid #f1f1f1;
}

.additional__product {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}

.additional__table {
  width: 280px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  color: #444444;

  &--value {
    text-align: right;
  }
}
