.example {
  background-color: #f2f2f2;
}

.example__heading {
  @include heading;
}

.example__text {
  width: 270px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: #444444;
}

.example__table {
  display: flex;
  justify-content: space-between;
}

.example__table-data {
  width: 125px;
  height: 45px;
  padding-top: 10px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
}

.example__table-text {
  display: block;
  width: 60px;
  margin: 0 auto;
  margin-top: 10px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  color: #444444;
  text-align: center;
  text-transform: lowercase;
  background-color: #f2f2f2;
}

.example__costs {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-align: center;
  text-transform: uppercase;
}

.example__range {
  display: flex;
  justify-content: center;
  padding-top: 250px;
  background: url("../img/before-mobile.png") no-repeat 50% 0;
}

.example__range-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}
