.form-field__heading {
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.form-field__wrapper {
  display: flex;
  flex-direction: column;
}
